/* General */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Unica One", Arial, Helvetica, sans-serif;
}

/* CSS Grid */

.coffee-shop-container {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.left-nav-container {
    grid-area: 1 / 1 / 3 / 2;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
}

.body {
    grid-area: 2 / 2 / 3 / 3;
}

/* header */

.header {
    text-align: center;
    color: #fff;
    background-color: #292c30;
    padding: 50px;
}

.header-h3 {
    margin-top: 15px;
}

/* left nav column */

.left-nav-container {
    background: #292c30;
    height: 100vh;
    width: 300px;
    position: fixed;
}

.logo {
    width: 200px;
    height: auto;
    display: block;
    margin: auto;
    padding: 10px;
}

/* body */

.body {
    background-color: #313539;
}

.body-main-img {
    width: 80%;
    height: auto;
    padding: 5%;
    display: block;
    margin: auto;
}